﻿@model MailClient.Models.MailModel

@{
    ViewBag.Title = "Compose";
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/MailClient/MailComposer.js"></script>
}

<table>
    <tr>
        <td>
            @Html.LabelFor(m => m.To)
        </td>
        <td>
            @Html.TextBoxFor(m => m.To)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.ReplyTo)
        </td>
        <td>
            @Html.TextBoxFor(m => m.ReplyTo)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.CC)
        </td>
        <td>
            @Html.TextBoxFor(m => m.CC)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.BCC)
        </td>
        <td>
            @Html.TextBoxFor(m => m.BCC)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Subject)
        </td>
        <td>
            @Html.TextBoxFor(m => m.Subject)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            @Html.TextAreaFor(m => m.Body, new {@cols = 80, @rows = 15})
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button id="sendMail" type="submit">Send Mail</button>
        </td>
    </tr>
</table>
