﻿@model MailClient.Models.MailModel

@{
    ViewBag.Title = "Details";
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/MailClient/MailDetails.js"></script>
}

@Html.Hidden("MailBox", @Model.MailBox)

@Html.HiddenFor(m => m.MailId)

<table>
    <tr>
        <td>
            @Html.LabelFor(m => m.To)
        </td>
        <td>
            <span id="@Html.NameFor(m => m.To)"></span>
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.From)
        </td>
        <td>
            <span id="@Html.NameFor(m => m.From)"></span>
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.CC)
        </td>
        <td>
            <span id="@Html.NameFor(m => m.CC)"></span>
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.BCC)
        </td>
        <td>
            <span id="@Html.NameFor(m => m.BCC)"></span>
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Subject)
        </td>
        <td>
            <span id="@Html.NameFor(m => m.Subject)"></span>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p id="@Html.NameFor(m => m.Body)"></p>
        </td>
    </tr>
</table>

