﻿@{
    ViewBag.Title = "Sent Mail";
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/MailClient/MailViewer.js"></script>
}

@Html.Hidden("ViewerPage", "Sent")

<h3 id="pageInfo"></h3>&nbsp;&nbsp;&nbsp;&nbsp;

<button id="deleteMails" type="submit">Delete Selected Mails</button>

<table id="mailViewerGrid" class="display" width="100%"></table>
